@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 130px;
  margin: 0 auto;
  justify-content: center;
}
.gallery-img {
  display: flex;

  max-width: 350px;
  height: 200px;
}
.d-flex {
  display: flex;
  gap: 2px;
  max-width: 340px;
  box-sizing: border-box;
  justify-content: start;
}
.text {
  font-size: 6;
  font-weight: 700;
}
.text::after {
  align-items: center;
}
.search-form {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.btn {
  background-color: #15033d;
  color: #f1eded;
  border-radius: 10%;
  box-shadow: none;
}
.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #140101;
  flex-basis: calc((100% - 40px) / 5);
  padding: 5px;
}
.loader {
  width: 48px;
  height: 48px;
  border: 2px solid #140101;
  border-radius: 50%;
  display: block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 50px auto;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #ff3d00;
  width: 6px;
  height: 6px;
  transform: translate(150%, 150%);
  border-radius: 50%;
}
.loader::before {
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  transform: translate(-150%, -150%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.load-btn {
  width: 250px;
  margin: 0 auto;
}
